<h2 class='listing-title'><%= @cohort.name %></h2>
<div class='wrapper'>
	<div class='left'>
		<div class='listing-name'><b>Credits:</b> <%= @cohort.credits %></div>
		<div class='listing-name'><b>Course:</b> <%= @cohort.course.title %></div>
				<% course = @cohort.course %>
		<div class='listing-name'><b>Department:</b> <%= course.department.name %></div>
		<div class='listing-name'><b>Instructor:</b> <%= @cohort.instructor.lname %></div>
		<div class='listing-name'><b>Dates:</b> <%= @cohort.starting_date.to_formatted_s(:long) %> - <%= @cohort.ending_date.to_formatted_s(:long) %></div>
		<div class='listing-name'><b>Note:</b> <%= @cohort.comment %></div>
	</div>

	<div class='right'></div>




</div>
<% if @cohort.instructor.lname == current_instructor.lname %>
	<a href="/cohorts/<%= @cohort.id%>/edit">Edit</a>
	<br>
	<a href="/cohorts/<%= @cohort.id%>/exams/new">Grade Cohort</a>
<% end %>




