<div class='signing-wrapper'>
  <h2 class='signing-title'>Log in as student</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <span class='checkbox a'><%= f.check_box :remember_me %></span>
        <span class='checkbox b'><%= f.label :remember_me %></span>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", :class => 'submit-button' %>
    </div>
    <div class='field'> &#8212 <span> OR </span> &#8212 </div>

  <div class='submit-button-link'><%= render "students/shared/links" %></div>
  <% end %>
</div>