<h2 class='listing-title'>Welcome <%=@instructor.fname %></h2>
<div class='wrapper'>
	<div class='left'>
			<div class='listing-name'><h3>My cohorts:</h3><br></div>
		<% @instructor.cohorts.each_with_index do |c, index| %>
				<div class='listing-name'><a href="/cohorts/<%= c.id %>"> <%=c.name %></a></div>
				<div class='listing-name'>Dates: <%= c.starting_date %> - <%= c.ending_date %></div>
				<div class='listing-name'>Description: <%= c.comment %></div>
				<div class='horizontal-line'></div>
			
		<% end %>
	</div>

	<div class='right'>
		<div class='signing-title'><h3>Create new cohort: </h3></div>
		<% if current_instructor %>
		<%= form_for @cohort do |f| %>
	 <%#= f.cktext_area :name, rows: 10 %>
		<div class='signing-wrapper singing-wrapper-new-cohort'>
		 <div class='field'><%= f.text_field :name, :placeholder => "cohort's name" %></div>
		 <div class='field'><%= f.text_field :credits, :placeholder => "credits" %></div>
		 <div class='field'><%= f.text_area :comment, :placeholder => "comments/description" %></div>
		<div class='field'>Options for course: <%= f.select :course_id, options_from_collection_for_select(Course.all, "id", "title") %></div>

		<div class='field '>Starting date: <%= f.datetime_field :starting_date%></div>
		<div class='field '>Last date: <%= f.datetime_field :ending_date %></div>

		<%= f.submit "Create cohort",  :class => 'submit-button' %>
		</div>
		<% end %>
	</div>
	<% end %>
</div>  <!-- end of wrapper  -->

