<h1 class='listing-title'>WELCOME TO SPACESHIP SCHOOL!</h1>


<div class='wrapper-home'>
	<div class='left'>
		<div class='listing-title'>Our Instructors</div>
		<% @instructors.each do |i| %>
			<div class='listing-name'><a href="/instructor/<%=i.id %>"><%= i.fname%> <%= i.lname%></a></div>
			<div class='listing-name'><%= i.email %></div>
				<% i.cohorts.each do |c| %>
				
			<div class='listing-name'>Current cohorts: <a href="/cohorts/<%= c.id%>"><%= c.name %></a></div>

			<div class='listing-name'>Course:<a href="/departments/<%= c.course.department.id%>/courses/<%= c.course.id%>"> <%= c.course.title %></a></div>
				<% end %>
			<div class='horizontal-line'></div>
		<% end %>
	</div>

	<div class='right'>
				<div class='listing-title'>Departments</div>
				
		<% @depratments.each do |d| %>
			<!-- <div class="navbar-toggle" id="js-navbar-toggle"> -->
				<div class="burger"><%= d.name %></div>
			<!-- </div> -->	

			<div class="main-nav" id="js-menu">
				<% d.courses.each do |c| %>
					<div class="nav-links"><%= c.title %></div>
				<% end %>				
			</div>
			
		<% end %> 

	</div> <!-- end of right side -->
</div>
