<h1 class='listing-title'>WELCOME TO SPACESHIP SCHOOL!</h1>


<div class='wrapper-home'>
	<div class='left'>
		<h2 class='listing-title'>Our Instructors</h2>
			<% @instructors.each do |i| %>
				<div class='burger'><%= i.fname%> <%= i.lname%></div>
			<div class="main-nav" id="js-menu">
				<div class='listing-name'><%= i.email %></div>
		
				<% i.cohorts.each do |c| %>
		<div class='cohort-course'>
			<div class='listing-name'>Cohort: <%= link_to c.name, cohort_path(c.id) %></div>

			

		</div>		
				<% end %>
		</div>	
		<% end %>
	</div>

	<div class='center'>
				<h2 class='listing-title'>Departments</h2>

		<% @depratments.each do |d| %>
			<!-- <div class="navbar-toggle" id="js-navbar-toggle"> -->
				<div class="burger"><%= d.name %></div>
			<!-- </div> -->	

			<div class="main-nav" id="js-menu">
				<% d.courses.each do |c| %>
					<div class="nav-links listing-name"><a href="departments/<%=d.id %>/courses/<%=c.id %>"><%= c.title %></a></div>
				<% end %>				
			</div>
		<% end %> 
	</div> <!-- end of center side -->

	<div class='right'>
		<h2 class='listing-title'>Articles by course</h2>
		<% @courses.each do |c| %>
			<div class='burger'><%= c.title %></div>
			<div class="main-nav" id="js-menu">
				<% c.articles.each do |a| %>
					<div class="nav-links listing-name"><a href="articles/<%=a.id %>"><%= a.title %></a></div>
					<div class='listing-name'>Prof. <%= a.instructor.lname %></div>
				<% end %>				
			</div>


		<% end %>
	</div>

</div>
