<h2 class='listing-title'>Grade cohort: <b><%=@cohort.name %></b></h2>
<h3 class='listing-name'>Course: <%= @cohort.course.title %></h3>
<h3 class='listing-name'>Department: <%= @cohort.course.department.name %></h3>
<h3 class='listing-name'>Instructor: <%=@cohort.instructor.lname %></h3>
<div class='wrapper-grading'>
	
		<h3 class='listing-name'>Current students:</h3>

<div class='grading-table'>

	<div class='grading-table-left'>
		<div class='grading-titles'><b>Student's name</b></div>
		<div class='grading-titles'><b>Choose grade</b></div>
		<div class='grading-titles'><b>Comment</b></div>
		<div class='grading-titles '><b>Submit</b></div>
		<div class='grading-titles'><b>Grade</b></div>
		<div class='grading-titles'><b>Comment</b></div>

		<% @cohort.students.each do |s| %>
			<div class='grading-titles'><%= s.fname %> <%= s.lname %></div>
				<div hidden><%= form_for [@cohort, @exam] do |f| %></div>
			<div class='grading-titles'><%= f.select :grade, collection_select: grades()  %></div>
			<div class='grading-titles'><%= f.text_area :comment %></div>
				<div hidden><%= hidden_field_tag :student_id, s.id %></div>
				
			<div class='grading-titles'><%= f.submit "Grade", :class=> 'submit-button' %></div>
							<% end %>

			<% @exams.each do |e| %>
			<% if e.student_id == s.id %>
				<div class='grading-titles'><%=link_to e.grade, edit_cohort_exam_path(@cohort, e) %></div>
				<div class='grading-titles'><%= e.comment %></div>
			<% end %>
		<% end %>
	<% end %>
	</div>

</div>
