
<% if student_signed_in? %>
    <nav class="topnav" id="myTopnav">
	  <%= link_to 'Home', root_path, :class => 'active' %>
	  <%= link_to 'About', about_path %>
	  <%= link_to 'Contact', about_path %>	
	  <%= link_to 'Departments', departments_path %>
	  <%= link_to 'Cohorts', cohorts_path %>  
	  <%= link_to 'Aricles', articles_path %>  
	  <div class="dropdown">
	    <button class="dropbtn">Hello <%=current_student.fname %>
	    </button>
	    <div class="dropdown-content">
	      <%= link_to 'My Profile', student_path(current_student) %>
	      <%= link_to 'sign out as student', destroy_student_session_path, method: :delete %>
	    </div>
	  </div> 
	  <a href="javascript:void(0);" style="font-size: 25px;" class="icon" onclick="myFunction()">&#9776;</a>	
	</nav>
<% end %>
