<!DOCTYPE html>
<html>
  <head>
    <title>SpaceshipSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <%= render :partial => "layouts/partials/instructor" %>
   <%= render :partial => "layouts/partials/student" %>
   <%= render :partial => "layouts/partials/admin" %>
   <%= render :partial => "layouts/partials/home" %>


  <body>
  <div class='alert-field'> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
    <%= yield %>

  </body>
</html>
